  <h2>Create new student</h2>

<%= form_for(@student) do |form|%>
    <% unless @student.errors.empty?%>
        <ul>
          <% @student.errors.full_messages.each do |message|%>
          <li><%= message %> </li>
          <% end %>
        </ul>

    <% end%>
    <br/>

    <%= form.label :name %>
    <%= form.text_field :name %>
    <br></br>
    <%= form.label :price %>
    <%= form.text_field :price %>
    <br></br>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <br></br>
    <%= form.submit 'Save' %>
<%end%>
